/* You can add global styls to this file, and also import other style files */

@import "tailwindcss";
@import 'aos/dist/aos.css';
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
